.App {
  text-align: center;
}

.App-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 150px;
}
.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 150px;
}

.gitLogo{
  fill:#dfbb99c9;
  color:rgb(235, 91, 25);
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}
.gitSvgPath{
  transform-origin: 130px 106px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fef2ed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}

.App-link {
  color: #61dafb;
}

.fileList{
  width: 80%;
  padding: 15px 15px 15px 15px;
  margin: 120px 20px 20px 20px;
  overflow: auto;
  position: relative;
}
#x {
  position: relative;
  float: right;
  font-size: 15px;
  color: rgb(252, 0, 0);
  top: -10px;
  right: -10px;
  background:none;
  border:none;margin-bottom: 15px;;
}
                 
section.download {
  background: #fff;
  width: 430px;
  max-width: 90%;
  border-radius: 25px;
  box-shadow: 0px 20px 20px 0px #00000017;
  padding: 2rem;
  text-align: center;
}
.download__icon {
  height: 8rem;
}
.download__meta {
  width:3rem;
  height:3rem;
  display: inline-block;
  margin-left:5px;
}
.send-btn-container button{
  display: inline-block;
  font-size: 25px;
  padding: 8px 40px;
  margin-top: 15px;
  background: var(--light-blue);
  text-decoration: none;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.send-btn-container a:hover {
    background: var(--dark-blue);
}
.send-btn-container .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    display: inline-block;
    font-size: 25px;
    padding: 8px 40px;
    margin-top: 15px;
    background: var(--light-blue);
    text-decoration: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: rgb(255, 115, 0);
  outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.flex-box-2 {
  display:flex;
  justify-content: flex-end;
  border: 2px rgb(20, 75, 255) solid;
  background:cornflowerblue;
  border-radius:5px;
  margin-top:7px;
}

.flex-box-2 p {
  width: 250px;
  font-size:12px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
