:root {
    --main-bg-color: #fef2ed;
    --light-blue: #f46f03;
    --dark-blue: #ca5c02;
  }

  body {
    font-family: system-ui;
    background: var(--main-bg-color);
    height: 98vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
